Repository pajcho/admin-tool: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.js": ["eslint --fix", "prettier --write"],
  "*.{html,json,md}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

Add .nojekyll file
  .nojekyll
Due: none

Mock all environments
  mock/modules/mock-config.ts
  src/environments/environment.ci.ts
  src/environments/environment.local.ts
  src/environments/environment.prod.ts
  src/environments/environment.staging.ts
Due: eslint --fix, prettier --write

Add Github Pages demo link
  README.md
Due: prettier --write

Add login details info
  README.md
Due: prettier --write

Update favicon
  src/favicon.ico
Due: none

Update github pages
  docs/favicon.ico
  docs/main.js
  docs/main.js.map
  package.json
Due: eslint --fix, prettier --write
